/******************************************************************************
 Really basic stuff
******************************************************************************/

* {
    -GtkTextView-error-underline-color: @text_negative;
}

/* windows, dialogs */
.background, .menu {
    background-image: linear-gradient(@window_bg_light 0px,
                                      @window_bg_base 128px,
                                      @window_bg_dark 256px);
    color: @window_text;
}

/* GTK-rendered window titlebar */
window headerbar {
    background-color: @window_bg_light;
}

/******************************************************************************
 Buttons
******************************************************************************/

button:not(:link):not(.flat) {
    padding: 4px;
    margin: 2px;

    background-image: linear-gradient(@button_bg_light 0%,
                                      @button_bg_base 50%,
                                      @button_bg_dark 100%);

    color: @button_text;

    border: 1px solid;
    border-color: @button_border_light @button_border_mid @button_border_dark;
    border-radius: 4px;
    box-shadow: 0 1px 2px @deco_shadow;

    transition: box-shadow 0.2s;
}

button:link {
    padding: 4px;
}

button:link > label {
    text-decoration: underline;
}

button:focus:not(:checked):not(:link):not(.flat) {
    box-shadow: 0 0 2px     @deco_focus,
                0 0 2px     @deco_focus,
                0 0 1px 1px @deco_focus;
}

button:hover:not(:checked):not(:link):not(.flat) {
    box-shadow: 0 0 2px     @deco_hover,
                0 0 2px     @deco_hover,
                0 0 1px 1px @deco_hover;
}

button:active:not(:link),
button:checked:not(:link) {
    border-color: @window_border_dark @window_border_mid @window_border_light;
    box-shadow: inset 0 1px 2px @deco_shadow;
    transition: box-shadow 0s;
}

button:disabled:not(:link) {
    color: alpha(@button_text, 0.5);
}

button.flat:not(:link) {
    padding: 3px;
    margin: 1px;

    border: 1px solid;
    border-color: transparent;
    border-radius: 4px;
}

button.flat:checked:not(:link) {
    border-color: @window_border_dark @window_border_mid @window_border_light;
}

button.flat:hover:not(:link) {
    border-color: @deco_hover;
}

button.flat:active:hover:not(:link),
button.flat:checked:hover:not(:link) {
    box-shadow: inset 0 0 2px @deco_hover;
}

/******************************************************************************
 Views
******************************************************************************/

entry {
    padding: 4px;

    background-color: @view_bg_base;
    color: @view_text;

    border: 1px solid;
    border-color: @window_border_dark @window_border_mid @window_border_light;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px @deco_shadow;

    transition: box-shadow 0.2s, border-color 0.2s;
}

entry:focus {
    border-color: @deco_focus;
    box-shadow: inset 0 0 2px     @deco_focus;
}

entry:hover {
    background: red;
    box-shadow: inset 0 0 2px     @deco_hover,
                inset 0 0 2px     @deco_hover,
                inset 0 0 1px 1px @deco_hover;
}

/******************************************************************************
 Scrollbars
******************************************************************************/

scrollbar > contents > trough {
    background-color: @scrollbar_bg_base;
    border: 1px solid;
    border-color: @window_border_dark @window_border_mid @window_border_light;
    border-radius: 4px;
}

scrollbar.vertical > contents > trough > slider {
    margin: 2px;

    background-color: @scrollbar_slider_0;
    background-position: center, center;
    background-repeat: repeat, no-repeat;

    border: 1px solid;
    border-color: @scrollbar_slider_light
                  @scrollbar_slider_mid
                  @scrollbar_slider_dark;
    border-radius: 3px;
    box-shadow: 0 1px 2px @deco_shadow;

    transition: box-shadow 0.2s;
}

scrollbar.vertical > contents > trough > slider {
    padding: 3px 3px 3px 4px;

    background-size: auto, 3px auto;
    background-image:
        none,
        repeating-linear-gradient(
            to bottom,
            @scrollbar_slider_2 0px,
            @scrollbar_slider_3 12px,
            @scrollbar_slider_2 24px,
            @scrollbar_slider_1 36px,
            @scrollbar_slider_2 48px);
}

scrollbar.horizontal > contents > trough > slider {
    padding: 3px 3px 4px 3px;

    background-size: auto, auto 3px;
    background-image:
        none,
        repeating-linear-gradient(
            to right,
            @scrollbar_slider_2 0px,
            @scrollbar_slider_3 12px,
            @scrollbar_slider_2 24px,
            @scrollbar_slider_1 36px,
            @scrollbar_slider_2 48px);
}

scrollbar > contents > trough > slider:hover {
    box-shadow: 0 0 2px     @deco_hover,
                0 0 2px     @deco_hover,
                0 0 1px 1px @deco_hover;
}

/******************************************************************************
 Menus
******************************************************************************/

menu {
    padding: 4px;

    border: 1px solid;
    border-color: @window_border_light @window_border_mid @window_border_dark;
    border-radius: 4px;
    box-shadow: 0 0 2px @deco_shadow;
}

menuitem {
    padding: 0px;
    margin: 1px;

    border: 1px solid transparent;
    border-radius: 4px;
}

menuitem:hover {
    background-color: @menu_item_bg_base;
    border-color: @menu_item_border_dark
                  @menu_item_border_mid
                  @menu_item_border_light;
}

/******************************************************************************
 States (keep at end of file!)
******************************************************************************/

*:hover {
    -gtk-icon-effect: highlight;
}

*:disabled {
    -gtk-icon-effect: dim;
}

*:link {
    color: @link_normal;
    text-decoration: underline;
}

*:visited {
    color: @link_visited;
}

*:link:hover {
    color: @link_active;
}
